[Desktop Entry]
Type=Application
Name=Altair
Exec=/home/celso/local/altair/altair_6.1.0_x86_64_linux.AppImage
Icon=/home/celso/.dotfiles/assets/Pictures/graphql.png
