[Desktop Entry]
Type=Application
Name=Responsively
Exec=/home/celso/local/apps/ResponsivelyApp-1.10.0.AppImage
Icon=/home/celso/.dotfiles/assets/Pictures/responsively.png
